* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.navbar {
    background-color: rgb(255, 0, 0);
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
   
}

.navbar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-right: 35rem;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    
}

div {
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding-left: 40px;
}

div span {
    color: rgb(255, 255, 255);
}

.navbar ul li a:hover {
    color: rgb(44, 136, 159);
    text-decoration: underline;
}